<div id="mainbody">

	<h2 id="welcome">Welcome to THE<span class="logo">WALL</span></h2>
	<h3 class="white">Please enter your name to start sharing your ideas!</h3><br>

	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-md-4 input">
				<input class="form-control" ng-model="user.name" placeholder="Your Name..." /><br>
				<button class="btn btn-primary col-md-1 col-md-offset-5 inline" ng-click="checkUser(user)">GET STARTED</button>
			</div>
		</div>
	</form>

</div>
